In [162]:
# Importing pandas for data manipulation and analysis
import pandas as pd

In [163]:
# Importing numpy for numerical operations
import numpy as np

In [164]:
# Importing model selection utilities:
# - train_test_split to split data into training and testing sets
# - cross_val_score to evaluate models with cross-validation
# - GridSearchCV for hyperparameter tuning using grid search with cross-validation
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV

In [165]:
# Importing preprocessing tools:
# - StandardScaler to normalize numerical features
# - OneHotEncoder to convert categorical features into one-hot encoded format
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [166]:
# ColumnTransformer allows applying different preprocessing steps to different columns
from sklearn.compose import ColumnTransformer

In [167]:
# Pipeline is used to chain preprocessing and modeling steps into one object
from sklearn.pipeline import Pipeline

In [168]:
# Importing regression models:
# - LinearRegression for simple linear modeling
# - Ridge for linear regression with L2 regularization
from sklearn.linear_model import LinearRegression, Ridge

In [169]:
# RandomForestRegressor is an ensemble model that builds multiple decision trees for regression
from sklearn.ensemble import RandomForestRegressor

In [170]:
# Importing performance metrics for regression models:
# - mean_absolute_error: average absolute difference between predicted and actual values
# - r2_score: proportion of variance explained by the model
# - mean_squared_error: average squared difference between predicted and actual values
from sklearn.metrics import mean_absolute_error, r2_score, mean_squared_error

In [171]:
# Importing XGBoost, a powerful gradient boosting library for regression/classification
import xgboost as xgb

In [172]:
# Plotly Express and Graph Objects for interactive visualizations
import plotly.express as px
import plotly.graph_objects as go

In [173]:
# Joblib is used to save and load Python objects (e.g., trained models)
import joblib

In [174]:
# Suppress all warnings to keep the output clean (useful in notebooks or production)
import warnings
warnings.filterwarnings('ignore')

In [175]:
# Step 1: Load and explore the dataset
data = pd.read_csv('/kaggle/input/house-price/house_prices.csv')

In [176]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187531 entries, 0 to 187530
Data columns (total 21 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Index              187531 non-null  int64
 1   Title              187531 non-null  object
 2   Description        184508 non-null  object
 3   Amount(in rupees)  187531 non-null  object
 4   Price (in rupees)  169866 non-null  float64
 5   location           187531 non-null  object
 6   Carpet Area        106858 non-null  object
 7   Status             186916 non-null  object
 8   Floor              180454 non-null  object
 9   Transaction        187448 non-null  object
 10  Furnishing         184634 non-null  object
 11  facing             117298 non-null  object
 12  overlooking        106095 non-null  object
 13  Society            77853 non-null   object
 14  Bathroom           186703 non-null  object
 15  Balcony            138596 non-null  object
 16  Car Parking        84174 non-null   object
 17  Ownership          122014 non-null  object
 18  Super Area         79846 non-null   object
 19  Dimensions         0 non-null       float64
 20  Plot Area          0 non-null       float64
dtypes: float64(3), int64(1), object(17)
memory usage: 30.0+ MB

In [177]:
pd.set_option("display.max_columns", 50)
data.head(5)

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,Furnishing,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area,Dimensions,Plot Area
0,0,1 BHK Ready to Occupy Flat for sale in Srushti...,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",42 Lac,6000.0,thane,500 sqft,Ready to Move,10 out of 11,Resale,Unfurnished,NaN,NaN,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,NaN,NaN,NaN
1,1,2 BHK Ready to Occupy Flat for sale in Dosti V...,One can find this stunning 2 BHK flat for sale...,98 Lac,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,Semi-Furnished,East,Garden/Park,Dosti Vihar,2,NaN,1 Open,Freehold,NaN,NaN,NaN
2,2,2 BHK Ready to Occupy Flat for sale in Sunrise...,Up for immediate sale is a 2 BHK apartment in ...,1.40 Cr,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,Unfurnished,East,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,NaN,NaN,NaN
3,3,1 BHK Ready to Occupy Flat for sale Kasheli,This beautiful 1 BHK Flat is available for sal...,25 Lac,NaN,thane,530 sqft,Ready to Move,1 out of 3,Resale,Unfurnished,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN
4,4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,"This lovely 2 BHK Flat in Pokhran Road, Thane ...",1.60 Cr,18824.0,thane,635 sqft,Ready to Move,20 out of 42,Resale,Unfurnished,West,"Garden/Park, Main Road",TenX Habitat Raymond Realty,2,NaN,1 Covered,Co-operative Society,NaN,NaN,NaN

In [178]:
data.describe()

               Index  Price (in rupees)  Dimensions  Plot Area
count  187531.000000       1.698660e+05         0.0        0.0
mean    93765.000000       7.583772e+03         NaN        NaN
std     54135.681003       2.724171e+04         NaN        NaN
min         0.000000       0.000000e+00         NaN        NaN
25%     46882.500000       4.297000e+03         NaN        NaN
50%     93765.000000       6.034000e+03         NaN        NaN
75%    140647.500000       9.450000e+03         NaN        NaN
max    187530.000000       6.700000e+06         NaN        NaN

In [179]:
data.isnull().sum()

Index                     0
Title                     0
Description            3023
Amount(in rupees)         0
Price (in rupees)     17665
location                  0
Carpet Area           80673
Status                  615
Floor                  7077
Transaction              83
Furnishing             2897
facing                70233
overlooking           81436
Society              109678
Bathroom                828
Balcony               48935
Car Parking          103357
Ownership             65517
Super Area           107685
Dimensions           187531
Plot Area            187531
dtype: int64

In [180]:
data.shape

(187531, 21)

In [181]:
data = data.drop(columns=['Plot Area', 'Dimensions'])

In [182]:
data.shape

(187531, 19)

In [183]:
# Drop columns with too many missing values (>50% missing) and not useful Columns
data = data.drop(columns=['Society', 'Description', 'Index','Title','Car Parking', 'Super Area'])

In [184]:
data.shape

(187531, 13)

In [185]:
data.head(5)

,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,Furnishing,facing,overlooking,Bathroom,Balcony,Ownership
0,42 Lac,6000.0,thane,500 sqft,Ready to Move,10 out of 11,Resale,Unfurnished,NaN,NaN,1,2,NaN
1,98 Lac,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,Semi-Furnished,East,Garden/Park,2,NaN,Freehold
2,1.40 Cr,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,Unfurnished,East,Garden/Park,2,NaN,Freehold
3,25 Lac,NaN,thane,530 sqft,Ready to Move,1 out of 3,Resale,Unfurnished,NaN,NaN,1,1,NaN
4,1.60 Cr,18824.0,thane,635 sqft,Ready to Move,20 out of 42,Resale,Unfurnished,West,"Garden/Park, Main Road",2,NaN,Co-operative Society

In [186]:
# Rename target column
data = data.rename(columns={'Amount(in rupees)': 'price'})

In [187]:
data.head(5)

,price,Price (in rupees),location,Carpet Area,Status,Floor,Transaction,Furnishing,facing,overlooking,Bathroom,Balcony,Ownership
0,42 Lac,6000.0,thane,500 sqft,Ready to Move,10 out of 11,Resale,Unfurnished,NaN,NaN,1,2,NaN
1,98 Lac,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,Semi-Furnished,East,Garden/Park,2,NaN,Freehold
2,1.40 Cr,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,Unfurnished,East,Garden/Park,2,NaN,Freehold
3,25 Lac,NaN,thane,530 sqft,Ready to Move,1 out of 3,Resale,Unfurnished,NaN,NaN,1,1,NaN
4,1.60 Cr,18824.0,thane,635 sqft,Ready to Move,20 out of 42,Resale,Unfurnished,West,"Garden/Park, Main Road",2,NaN,Co-operative Society

In [188]:
data.price.isnull().sum()

0

# **🔹 Convert Carpet Area to numeric:**

In [189]:
#Convert Carpet Area to numeric:
data['Carpet Area'] = data['Carpet Area'].str.extract(r'(\d+\.?\d*)')  # Extract numeric part
data['Carpet Area'] = pd.to_numeric(data['Carpet Area'], errors='coerce')  # Convert to float

In [190]:
data['Carpet Area']

0          500.0
1          473.0
2          779.0
3          530.0
4          635.0
           ...
187526       NaN
187527       NaN
187528    1250.0
187529       NaN
187530       NaN
Name: Carpet Area, Length: 187531, dtype: float64

In [191]:
data['Carpet Area'].isnull().sum()

80673

In [192]:
#80673 missing values , Best Practice: Group-wise Median Imputation

In [193]:
# Group by location and bathroom count (or just location)
data['Carpet Area'] = data.groupby(['location', 'Bathroom'])['Carpet Area'].transform(
    lambda x: x.fillna(x.median())
)

In [194]:
data['Carpet Area'].isnull().sum()

920

In [195]:
data['Carpet Area'] = data['Carpet Area'].fillna(data['Carpet Area'].median())

In [196]:
data['Carpet Area'].isnull().sum()

0

In [197]:
data['Carpet Area']

0          500.0
1          473.0
2          779.0
3          530.0
4          635.0
           ...
187526    1300.0
187527    1300.0
187528    1250.0
187529     950.0
187530    1650.0
Name: Carpet Area, Length: 187531, dtype: float64

# **🔹 Extract Floor Info:**

In [198]:
data[['Floor Number', 'Total Floors']] = data['Floor'].str.extract(r'(\d+)\s*out\s*of\s*(\d+)', expand=True).astype(float)

In [199]:
data[['Floor Number', 'Total Floors']]

        Floor Number  Total Floors
0               10.0          11.0
1                3.0          22.0
2               10.0          29.0
3                1.0           3.0
4               20.0          42.0
...              ...           ...
187526           2.0           4.0
187527           4.0           6.0
187528           1.0           3.0
187529           2.0           2.0
187530           5.0          13.0

[187531 rows x 2 columns]

In [200]:
data[['Floor Number', 'Total Floors']].isnull().sum()

Floor Number    19837
Total Floors    19837
dtype: int64

In [201]:
#Best way to handle missing values in Floor Number and Total Floors:
#Fill missing Floor Number and Total Floors with group-wise median (optional)
data['Floor Number'] = data.groupby('location')['Floor Number'].transform(lambda x: x.fillna(x.median()))
data['Total Floors'] = data.groupby('location')['Total Floors'].transform(lambda x: x.fillna(x.median()))

In [202]:
data[['Floor Number', 'Total Floors']].isnull().sum()

Floor Number    0
Total Floors    0
dtype: int64

# **🔹 Convert Bathroom and Balcony to numeric:**

In [203]:
data['Bathroom'] = pd.to_numeric(data['Bathroom'], errors='coerce')
data['Balcony'] = pd.to_numeric(data['Balcony'], errors='coerce')

In [204]:
data[['Bathroom','Balcony']].isnull().sum()

Bathroom      863
Balcony     48957
dtype: int64

In [205]:
data[['Bathroom','Balcony']]

        Bathroom  Balcony
0            1.0      2.0
1            2.0      NaN
2            2.0      NaN
3            1.0      1.0
4            2.0      NaN
...          ...      ...
187526       3.0      3.0
187527       3.0      NaN
187528       3.0      2.0
187529       2.0      NaN
187530       4.0      4.0

[187531 rows x 2 columns]

In [206]:
# Handling Missing Bathroom & Balcony Values:
data['Bathroom'] = data.groupby('location')['Bathroom'].transform(lambda x: x.fillna(x.median()))
data['Balcony'] = data.groupby('location')['Balcony'].transform(lambda x: x.fillna(x.median()))

In [207]:
data[['Bathroom','Balcony']].isnull().sum()

Bathroom    0
Balcony     0
dtype: int64

# **Encode Categorical Columns**

In [208]:
data.head()

,price,Price (in rupees),location,Carpet Area,Status,Floor,Transaction,Furnishing,facing,overlooking,Bathroom,Balcony,Ownership,Floor Number,Total Floors
0,42 Lac,6000.0,thane,500.0,Ready to Move,10 out of 11,Resale,Unfurnished,NaN,NaN,1.0,2.0,NaN,10.0,11.0
1,98 Lac,13799.0,thane,473.0,Ready to Move,3 out of 22,Resale,Semi-Furnished,East,Garden/Park,2.0,1.0,Freehold,3.0,22.0
2,1.40 Cr,17500.0,thane,779.0,Ready to Move,10 out of 29,Resale,Unfurnished,East,Garden/Park,2.0,1.0,Freehold,10.0,29.0
3,25 Lac,NaN,thane,530.0,Ready to Move,1 out of 3,Resale,Unfurnished,NaN,NaN,1.0,1.0,NaN,1.0,3.0
4,1.60 Cr,18824.0,thane,635.0,Ready to Move,20 out of 42,Resale,Unfurnished,West,"Garden/Park, Main Road",2.0,1.0,Co-operative Society,20.0,42.0

In [209]:
data[['location', 'Status', 'Transaction', 'Furnishing', 'facing', 'overlooking', 'Ownership']].isnull().sum()

location           0
Status           615
Transaction       83
Furnishing      2897
facing         70233
overlooking    81436
Ownership      65517
dtype: int64

In [210]:
categorical_cols = ['location', 'Status', 'Transaction', 'Furnishing', 'facing', 'overlooking', 'Ownership']

In [211]:
data[categorical_cols] = data[categorical_cols].fillna('Unknown')

In [212]:
data[['location', 'Status', 'Transaction', 'Furnishing', 'facing', 'overlooking', 'Ownership']].isnull().sum()

location       0
Status         0
Transaction    0
Furnishing     0
facing         0
overlooking    0
Ownership      0
dtype: int64

In [213]:
# One-hot encode
data = pd.get_dummies(data, columns=categorical_cols, drop_first=True)

In [214]:
data.shape

(187531, 127)

In [215]:
data.head(5)

,price,Price (in rupees),Carpet Area,Floor,Bathroom,Balcony,Floor Number,Total Floors,location_ahmadnagar,location_ahmedabad,location_allahabad,location_aurangabad,location_badlapur,location_bangalore,location_belgaum,location_bhiwadi,location_bhiwandi,location_bhopal,location_bhubaneswar,location_chandigarh,location_chennai,location_coimbatore,location_dehradun,location_durgapur,location_ernakulam,...,facing_Unknown,facing_West,"overlooking_Garden/Park, Main Road","overlooking_Garden/Park, Main Road, Pool","overlooking_Garden/Park, Not Available","overlooking_Garden/Park, Pool","overlooking_Garden/Park, Pool, Main Road","overlooking_Garden/Park, Pool, Main Road, Not Available",overlooking_Main Road,"overlooking_Main Road, Garden/Park","overlooking_Main Road, Garden/Park, Pool","overlooking_Main Road, Not Available","overlooking_Main Road, Pool","overlooking_Main Road, Pool, Garden/Park",overlooking_Pool,"overlooking_Pool, Garden/Park","overlooking_Pool, Garden/Park, Main Road","overlooking_Pool, Main Road","overlooking_Pool, Main Road, Garden/Park","overlooking_Pool, Main Road, Not Available",overlooking_Unknown,Ownership_Freehold,Ownership_Leasehold,Ownership_Power Of Attorney,Ownership_Unknown
0,42 Lac,6000.0,500.0,10 out of 11,1.0,2.0,10.0,11.0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,True
1,98 Lac,13799.0,473.0,3 out of 22,2.0,1.0,3.0,22.0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
2,1.40 Cr,17500.0,779.0,10 out of 29,2.0,1.0,10.0,29.0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
3,25 Lac,NaN,530.0,1 out of 3,1.0,1.0,1.0,3.0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,True
4,1.60 Cr,18824.0,635.0,20 out of 42,2.0,1.0,20.0,42.0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,...,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [217]:
# Convert boolean columns to integers
data = data.astype({col: int for col in data.select_dtypes(include='bool').columns})

In [218]:
data.head()

,price,Price (in rupees),Carpet Area,Floor,Bathroom,Balcony,Floor Number,Total Floors,location_ahmadnagar,location_ahmedabad,location_allahabad,location_aurangabad,location_badlapur,location_bangalore,location_belgaum,location_bhiwadi,location_bhiwandi,location_bhopal,location_bhubaneswar,location_chandigarh,location_chennai,location_coimbatore,location_dehradun,location_durgapur,location_ernakulam,...,facing_Unknown,facing_West,"overlooking_Garden/Park, Main Road","overlooking_Garden/Park, Main Road, Pool","overlooking_Garden/Park, Not Available","overlooking_Garden/Park, Pool","overlooking_Garden/Park, Pool, Main Road","overlooking_Garden/Park, Pool, Main Road, Not Available",overlooking_Main Road,"overlooking_Main Road, Garden/Park","overlooking_Main Road, Garden/Park, Pool","overlooking_Main Road, Not Available","overlooking_Main Road, Pool","overlooking_Main Road, Pool, Garden/Park",overlooking_Pool,"overlooking_Pool, Garden/Park","overlooking_Pool, Garden/Park, Main Road","overlooking_Pool, Main Road","overlooking_Pool, Main Road, Garden/Park","overlooking_Pool, Main Road, Not Available",overlooking_Unknown,Ownership_Freehold,Ownership_Leasehold,Ownership_Power Of Attorney,Ownership_Unknown
0,42 Lac,6000.0,500.0,10 out of 11,1.0,2.0,10.0,11.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1
1,98 Lac,13799.0,473.0,3 out of 22,2.0,1.0,3.0,22.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
2,1.40 Cr,17500.0,779.0,10 out of 29,2.0,1.0,10.0,29.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
3,25 Lac,NaN,530.0,1 out of 3,1.0,1.0,1.0,3.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1
4,1.60 Cr,18824.0,635.0,20 out of 42,2.0,1.0,20.0,42.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [219]:
data.isnull().sum()

price                              0
Price (in rupees)              17665
Carpet Area                        0
Floor                           7077
Bathroom                           0
                               ...
overlooking_Unknown                0
Ownership_Freehold                 0
Ownership_Leasehold                0
Ownership_Power Of Attorney        0
Ownership_Unknown                  0
Length: 127, dtype: int64

In [220]:
# Drop non-numeric or redundant price column
data = data.drop(columns=['price'])

In [225]:
# Fallback if still missing
data['Price (in rupees)'] = data['Price (in rupees)'].fillna(data['Price (in rupees)'].median())

In [228]:
data = data.drop(columns=['Floor'])

In [229]:
data.isnull().sum()

Price (in rupees)              0
Carpet Area                    0
Bathroom                       0
Balcony                        0
Floor Number                   0
                              ..
overlooking_Unknown            0
Ownership_Freehold             0
Ownership_Leasehold            0
Ownership_Power Of Attorney    0
Ownership_Unknown              0
Length: 125, dtype: int64

In [231]:
#Define Features (X) and Target (y)
X = data.drop('Price (in rupees)', axis=1)
y = data['Price (in rupees)']